/*Start Page*/
body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    flex-direction: column;
    margin: 1%;
    padding: 1%;
    border-style: solid;
    border-color: darkred;
    font-size: 25px;
}

#slogan {
    font-weight: 400;
    font-style: italic;
}

#logo {
    float: left;
    padding-right: 50px;
    height: 200px;
}

li {
    font-size: 24px;
    font-weight: bold;
    color: darkred
}

button {
    height: 100px;
    width: 200px;
    font-size: 20px;
    font-style: bold;
    background-color: darkred;
    color: white;
    border: none;
}